* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
      font-family: Arial, sans-serif;
      background-color: #f0f0f0;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
  }
  
  #mainMenu, #nameInput, #gameBoard, #ranking {
      text-align: center;
      background-color: #fff;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      max-width: 400px;
      width: 100%;
      margin: 20px;
  }
  
  h2 {
      margin-bottom: 20px;
      color: #333;
  }
  
  input[type="text"], button {
      padding: 10px;
      margin: 5px;
      width: calc(100% - 20px);
      max-width: 300px;
      border: 1px solid #ccc;
      border-radius: 4px;
      font-size: 1em;
  }
  
  input[type="text"]::placeholder {
      color: #999;
  }
  
  button {
      background-color: #4CAF50;
      color: white;
      border: none;
      cursor: pointer;
      transition: background-color 0.3s;
  }
  
  button:hover {
      background-color: #45a049;
  }
  
  #gameBoard {
      text-align: center;
  }
  
  .board {
      display: grid;
      grid-template-columns: repeat(3, 110px);
      grid-template-rows: repeat(3, 110px);
      gap: 5px;
      margin-top: 10px;
  }

  .cell {
    width: 100px;
    height: 100px;
    margin-top: 5px;
    margin-left: 15px;
    margin-bottom: 5px;
    background-color: #cecece;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    cursor: pointer;
}

.cell:hover {
    background-color: #cececeb2;
}

#resultsList {
    list-style-type: none;
    padding: 0;
    text-align: left;
    margin-bottom: 20px;
}

#resultsList li {
    margin-bottom: 10px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    text-align: center;
    position: relative;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.329);
}

.close {
    position: absolute;
    right: 10px;
    top: 5px;
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#ranking {
    text-align: center;
}

#rankingList {
    list-style-type: none;
    padding: 0;
    text-align: left;
    margin-bottom: 20px;
}

#rankingList li {
    margin-bottom: 10px;
    background-color:#f9f9f9;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}