* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
      font-family: Arial, sans-serif;
      background-color: #f0f0f0;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
  }
  
  #mainMenu, #nameInput, #gameBoard, #history {
      text-align: center;
      background-color: #fff;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      max-width: 400px;
      width: 100%;
      margin: 20px;
  }
  
  h2 {
      margin-bottom: 20px;
      color: #333;
  }
  
  input[type="text"], button {
      padding: 10px;
      margin: 5px;
      width: calc(100% - 20px);
      max-width: 300px;
      border: 1px solid #ccc;
      border-radius: 4px;
      font-size: 1em;
  }
  
  input[type="text"]::placeholder {
      color: #999;
  }
  
  button {
      background-color: #4CAF50;
      color: white;
      border: none;
      cursor: pointer;
      transition: background-color 0.3s;
  }
  
  button:hover {
      background-color: #45a049;
  }
  
  #gameBoard {
      text-align: center;
  }
  
  .board {
      display: grid;
      grid-template-columns: repeat(3, 110px);
      grid-template-rows: repeat(3, 110px);
      gap: 5px;
      margin-top: 10px;
  }